<% if (theme.gitalk.enable && post.comments) { %>
<div class="gitalk" id="gitalk-container"></div>
<%- css('https://cdn.staticfile.org/gitalk/1.7.2/gitalk.min.css') %>
<%- js('https://cdn.staticfile.org/gitalk/1.7.2/gitalk.min.js') %>
<%- js('https://cdn.staticfile.org/blueimp-md5/2.19.0/js/md5.min.js') %>
<script type="text/javascript">
  var gitalk = new Gitalk({
    clientID: 'Ov23li1TkQEYXFu51qLu',
    clientSecret: '0c4ca8b5adfcc2aedd741ba78ca96fcbf2c4f5b5',
    repo: 'Jingqing3948.github.io',
    owner: 'Jingqing3948',
    admin: 'Jingqing3948',
    // id: location.pathname,      // Ensure uniqueness and length less than 50
    id: md5(location.pathname),
    distractionFreeMode: true,  // Facebook-like distraction free mode
    pagerDirection: 'last'
  })

  gitalk.render('gitalk-container')
</script>
<% } %>
